@font-face {
  font-family: 'PixelFont';
  src: url('font/font.ttf') format('truetype');
  font-display: swap;
}

/* --- Imposta il font pixel per tutti gli elementi --- */
{
  font-family: 'PixelFont', monospace !important;
}

body {
    background-color: #121212;
    font-family: 'PixelFont';
    text-align: center;
    padding-top: 100px; 
    color: white; 
}

h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 50px; 
}

.button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 15px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.button:hover {
    background-color: white;
    color: black;
}

.credit-box {
    height: 500px;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.credit-box h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 40px;
}

.credit-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.credit-box li {
    font-size: 30px;
    color: white;
    margin: 20px 0;
}

body.menu-page {
  background-image: url('immagini/0114.gif');
}